<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  <!--*********Start of code for data passing between parent to child********-->
  <app-child-componenet [parentData]="name"></app-child-componenet>
  <!--*********End of code for data passing between parent to child********-->
    Welcome to {{ title }}
  </h1>
  <form action="">
    <mat-form-field>
       
      
      <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" >
       <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
       </mat-autocomplete>
      

    </mat-form-field>
  </form>
  
</div>


<router-outlet></router-outlet>